<div class="flex flex-col flex-wrap justify-center content-center px-6 py-12 lg:px-8 gap-5 text-center">
  <img src="assets/img/page-not-found.svg" alt="404! page not found" class="select-none mx-auto">

  <div class="mt-2">
    <h1 class="text-2xl font-bold">Sorry, the page can’t be found</h1>
    <p class="my-3">The page you were looking for appears to have been moved, deleted or does not exist.</p>
    <a class="btn btn-primary w-32" [routerLink]="''">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
           class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"/>
      </svg>
      Home
    </a>
  </div>
</div>
